/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom , #7ed56fcc,#28b485cc) ,url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__logo:hover {
    animation: moveInLeft 1.5s ease-out;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    
}

.heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
}

.heading-primary--name {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;

    animation-name: moveInLeft;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}


.heading-primary--sirname {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1rem;

    animation-name: moveInRight;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

}

.heading-primary--left-arrow {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    color: orange;

    animation-name: longMoveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    
}

.heading-primary--right-arrow {
    display: inline-block;
    font-size: 3rem;
    font-weight: 200;
    color: orange;

    animation-name: longMoveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    
}

.heading-primary--sub {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .5rem;
}

.heading-primary--sub-one {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .5rem;

    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.heading-primary--sub-two {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: .5rem;

    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes longMoveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    95% {
        transform: translateX(1.6rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes longMoveInRight {
    0% {
        opacity: 0;
        transform: translateX(100rem);
    }

    95% {
        transform: translateX(-1.6rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn--white {
    background-color: #fff;
    color:#777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%; 
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    
    
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}